module.exports = {
  getcolor: function(data, number) {
    var color = false;
    if (data.winnumber && data.winnumber.length > 0) {
      data.winnumber.forEach(function(v) {
        if (v == number) {
          color = true;
        }
      })
    }
    return color
  },
  getDate: function(date) {
    var d = date.split(' ')
    return d[0]
  }
}